// @import '/eoschargen/_includes/fonts/font-awesome.min.css';
@import '/eoschargen/_assets/webfonts/fa-brands.min.css';
@import '/eoschargen/_assets/webfonts/fa-regular.min.css';
@import '/eoschargen/_assets/webfonts/fa-solid.min.css';
@import '/eoschargen/_includes/css/fontawesome.min.css';


@font-face {
    font-family: 'Roboto-medium';
    src: url(/eoschargen/_includes/fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'Roboto-regular';
    src: url(/eoschargen/_includes/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto-light';
    src: url(/eoschargen/_includes/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url(/eoschargen/_includes/fonts/Roboto-Thin.ttf);
}
