@import 'fonts.scss';

// primary color scheme
$bg    : #262e3e;
$bgalt : #2c3445;
$medi  : #323846;
$lite  : #3b414e;

// bright colors.
$wit   : #ccd1dd; // text color
$green : #31e184;
$cyan  : #38e8de;
$blue  : #386ae8;
$tomato : tomato;

// button detail colors.
$btnshadow   : $bg;
$btndisabled : $medi;
  $bluHover  : #507ef2;
  $bluActive : #4975e3;
  $cyaHover  : #67dfd8;
  $cyaActive : #19d8cd;

// form element colors
$inputbg : #424959;
$inputselected : $lite;
$hr : $inputbg;

$popout : 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12);

// extra.
$olive: #94c02f;

// fonts
$fontstack  : 'Roboto-regular', sans-serif, arial;
$fontbold   : 'Roboto-medium','Roboto-regular', sans-serif, arial;
$fonttitle  : 'Roboto-Light','Roboto-Thin', sans-serif, arial;
  $textcolor : $wit;
  $textmuted : #838795;

html {
  background: $bg;
}
body {
  background: $bg;
  color: $textcolor;
  font-family: $fontstack;
  &.notransition * {
    transition: none!important;
  }
}
.center-xs {
  @media(max-width:768px) {
    text-align: center;
  }
}

h1,h2 {
  text-transform: uppercase;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $fonttitle;
}

p {
  font-family: $fontstack;
}

.ws-bot-1 {
  margin-bottom: 15px;
  margin-bottom: 1.5rem;
}
.ws-bot-2 {
  margin-bottom: 30px;
  margin-bottom: 3rem;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}



.responsive {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  color: $textmuted;
  transition: 0.3s;
  text-decoration: none;
  &:link {
    color: $textmuted;
  }
  &:hover, &:focus, &:active, &.active {
    color: $textcolor;
  }


  &.cyan {
    color: $cyan;
    &:hover {
      color: $cyaHover;
    }
  }
  &.green {
    color: $green;
    &:hover {
      color: $green;
    }
  }
  &.blue {
    color: $blue;
    &:hover {
      color: $bluHover;
    }
  }

  &.mute {
    color: $textmuted;
  }

  &.underline {
    text-decoration: underline;
  }

  &.button:hover {
    color: #FFF;
  }
}

.tomato {
  color: $tomato;
}

hr {
  border: 0;
  border-top: 1px solid $textmuted;
  margin: 1.5rem 1px;
}

.flex1 {
  flex: 1;
}

.text-muted {
  color: $textmuted;
}

.disabled {
  pointer-events : none;
}


/////////////////////// GRID ///////////////////////////////
.grid {
  width: 100%;
  height: 99vh;
  transition: 0.4s;
  margin-top: 1vh;

  display: grid;

  grid-template-columns: 1fr 1170px 1fr;
  grid-template-rows: 64px 1fr 32px;
  grid-gap: 2px 2px;
  grid-template-areas:
    "wsleft logo wsright"
    "wsleft main wsright"
    "wsleft footer wsright";

  @media(max-width:1200px) {
    grid-template-columns: 1fr 970px 1fr;
    grid-template-rows: 64px 1fr 32px;
    grid-template-areas:
      "wsleft logo wsright"
      "wsleft main wsright"
      "wsleft footer wsright";
  }
  @media(max-width:992px) {
    min-height: 90vh;
    height: auto;
    margin-top: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 64px 1fr 32px;
    grid-template-areas:
      "logo"
      "main"
      "footer";
  }

  // class for every grid item
  .cell {
    background: $bgalt;
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: 0.4s;
  }

  // whitespace left
  .wsleft {
    grid-area: wsleft;
    background: $bg;
    @media(max-width:768px) {
      display: none;
    }
  }

  // whitespace right
  .wsright {
    grid-area: wsright;
    background: $bg;
    @media(max-width:768px) {
      display: none;
    }
  }

  .logo {
    grid-area: logo;
    background: $medi;
    // @media(max-width:992px) {
    //   display: none;
    // }

    h2 {
      margin: 0;
      padding: 1rem;
    }
    img {
      margin-top: 5px;
      max-height: 59px;
    }
  }

  .menu {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    font-family: $fonttitle;
    overflow-y: auto;
    overflow-x: hidden;

    a.menuitem {
      width: auto;
      padding: 15px;
      background: $medi;
      border-bottom: 2px solid $bg;
      font-size: 1.6rem;
      &:hover, &:focus, &:active, &.active {
        background: $lite;
        border-bottom: 2px solid $textcolor;
      }

      &.disabled {
        color: rgba($textmuted, 0.33);
        background: rgba($medi, 0.33);
        &:hover {
          border-color: $bg;
        }
      }
    }

    @media(max-width:992px) {
      flex-direction: row;
      a.menuitem {
        border-bottom: 2px solid $medi;
        text-align: center;
        height: auto;
        width: 100%;
        flex: 1;
        font-size: 2.4rem;
        border-right: 2px solid $bg;
        span {
          display: none;
        }
      }
    }

    display: none;
  }

  .main {
    grid-area: main;
    display: flex;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 2px dashed $bgalt;
    transition: 0.4s;

    &.offsetTop {
      border-top: 2px dashed $lite;
    }

    .content {
      padding: 15px;
      height: auto;
      width: 100%;

      .row {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 0.5rem;

        @media(max-width:992px) {
          flex-direction: column;
        }

        .box33 {
          flex: 1;
          width: auto;
          padding: 15px;
        }

        &.flexcolumn {
          flex-direction: column;
        }

      }

    }
  }

  .footer {
    grid-area: footer;
    background: $medi;
    display: flex;

    p {
      margin: 0.8rem;
      flex: 1;
    }

    @media(max-width:992px) {
      flex-direction: column;
    }
  }

}

button, .button {

  // button DEFAULTS
  cursor: pointer;
  color: $textcolor;
  background: $lite;
  border: 1px solid $wit;
  border-radius: 5px;
  padding: 0.75rem 1.75rem;
  transition: 0.4s;
  margin-bottom: 0.5rem;
  text-shadow: 1px 1px 4px rgba($btnshadow, 0.6);

  @media(max-width: 768px) {
    padding: 0.5rem;
  }

  &:link, &a:link {
    color: $textcolor;
  }

  &:hover {
    background: $inputbg;
  }

  // cyan button variant
  &.cyan {
    color: #FFF;
    background: $cyan;
    border-color: $cyaActive;
    &:hover {
      background: $cyaHover;
      border-color: $cyaHover;
    }
    &:focus, &:active {
      background: $cyaActive;
    }
    &.no-bg {
      color: $cyan;
    }
  }

  // blue button variant
  &.blue {
    color: #FFF;
    background: $blue;
    border-color: $bluActive;
    &:hover {
      background: $bluHover;
      border-color: $bluHover;
    }
    &:focus, &:active {
      background: $bluActive;
    }
    &.no-bg {
      color: $bluHover;
    }
  }

  // green button variant
  &.green {
    color: #FFF;
    background: $green;
    border-color: $green;
    &:hover {
      background: $green;
      border-color: $green;
    }
    &:focus, &:active {
      background: $green;
    }
    &.no-bg {
      color: $green;
    }
  }

  &.tomato {
    color: $tomato;
    border-color: $tomato;
    background: none;
    &:hover, &:focus, &:active {
      background: $tomato;
      color: #222;
      text-shadow: none;
    }
  }

  &.disabled {
    background: $btndisabled;
    border-color: $lite;
    color: $textmuted;
    &:hover,&:focus, &:active {
      background: $btndisabled;
    }
  }

  &.no-bg {
    background: none;
    &:focus, &:active, &:hover {
      color: #FFF;
    }
  }

  &.bar {
    width: 100%;
  }

}

#previewSkill {
  // height: 28rem;
  min-height: 15rem;
  transition: 0.4s;
  white-space: pre-wrap;

  h2,h3 {
    margin: 0.25rem 0 0.75rem 0;
  }
}

// form
.formitem {
  width: auto;
  flex: 1;
  padding: 0.75rem 0;

  h3 {
    color: $textcolor;
    margin: 0.8rem 0;
  }

  input[type="text"], input[type="number"] {

    background: none;
    border: 0;
    border-bottom: 2px solid $textmuted;
    color: $textmuted;
    padding: 0.8rem 0.25rem;
    transition: 0.3s;

    &:hover, &:active, &:focus {
      border: 0;
      color: $textcolor;
      border-bottom: 2px solid $bluHover;
    }

  }

  input[type="text"] {
    min-width: 24rem;
  }

  input[type="number"] {
    min-width: 8rem;
  }

  textarea {
    min-height: 12.5rem;
    min-width: 22rem;
    background: $inputbg;
    margin-top: 1rem;
    padding: 5px 5px 0 5px;
    border: 1px solid $textmuted;
    &:hover, &:focus, &:active {
      border: 1px solid $bluHover;
      color: $textcolor;
    }
  }

  select {
    background: $inputbg;
    color: $textcolor;
    border: 1px solid $btnshadow;
    border-radius: 3px;
    width: auto;
    padding: 0.75rem;

    display: inline-block;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;

    background-image:
      linear-gradient(45deg, transparent 50%, $textcolor 50%),
      linear-gradient(135deg, $textcolor 50%, transparent 50%),
      linear-gradient(to right, darken($textmuted,15%), darken($textmuted,15%));
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;

    min-width: 32rem;
    @media(max-width:768px) {
      min-width: 24rem;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

  }

}

.skillbox {
  display: flex;
  flex-direction: row;

  .half {
    flex: 1;
  }

  .skillgroup {

    width: 100%;
    display: flex;
    flex-direction: row;

    label {
      text-transform: uppercase;
      font-family: $fontbold;
      flex: 1;

      &.strong {
        color: lighten($green, 10%);
      }
      &.weak {
        color: lighten($tomato, 10%);
      }
    }

  }

  .search {
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      color: $cyan;
    }
  }

}

.expbar {
  width: 100%;
  padding: 0.8rem;
  font-size: 2.4rem;
  background: $medi;
  border-radius: 5px;

  a, input {
    font-size: 1.5rem;
    button {
      margin: 0;
    }
  }
}

input.skillcheck, .popout {
  box-shadow: $popout;
}

// faction blurb
.factionblurb, .factionblurb.dialog {

  background: $medi;
  display: none;

  h2 {
    margin-top: 0.5rem;
  }
}

// character rows - select screen
.character, .implant {

  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex: 1;

  padding: 0 0.75rem;
  margin-bottom: 0.5rem;

  border-radius: 2px;
  min-height: 5rem;

  background: $medi;

  &.header {
    background: $inputbg;
    // box-shadow: $popout;

    .button {
      margin-bottom: 0;
    }
  }

  .block {
    flex: 1;
    padding: 0.75rem 0.25rem;
    text-align: center;
    &.smflex {
      flex: 0.2;
    }

    &.btnmenu {
      button,.button {
        margin-right: 0.5rem;
      }
      @media(max-width:1200px) {
        display: flex;
        flex-direction: column;
        button,.button {
          flex: 1;
        }
      }

    }
  }

}

@media(max-width: 768px) {
  .xs-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .button {
      flex: 1;
    }
  }
}

#customForm {
  margin-left: 1.5rem;
}

.implant {
  background: $inputbg;
  border-bottom: 1px solid $wit;
  .button {
    margin-bottom: 0;
  }

  &.cybernetic {
    border-bottom: 1px solid $blue;
  }
  &.symbiont {
    border-bottom: 1px solid $green;
  }

  @media(max-width: 768px) {
    flex-direction: column;
    text-align: left;

    .block {
      border-bottom: 1px solid $medi;
      width: 100%;
    }
  }
}

.dialog {
  padding: 2rem 1.5rem;
  background: $inputbg;
  margin: 0.5rem 0 1.5rem 0;
  border-radius: 5px;
  box-shadow: $popout;
}

.fa,.fab,.far,.fal,.fas {
  &.cyan {
    color: $cyan;
  }
  &.green {
    color: $green;
  }
  &.blue {
    color: $blue;
    color: $bluHover;
  }
  &.mute {
    color: $textmuted;
  }
}

.hidden-xs {
  @media(max-width: 768px) {
    display: none;
  }
}
.visible-xs {
  @media(min-width: 768px) {
    display: none;
  }
}

.passphoto {

  max-height: 15rem;
  border-radius: 100%;
  float: right;
  margin-left: 1.5rem;
  margin-bottom: -1.5rem;

  @media(max-width: 768px) {
    max-height: 12rem;
  }
}

::selection {
  background: rgba($green, 0.75);
  color: #FFF;
}
::-moz-selection {
  background: rgba($green, 0.75);
  color: #FFF;
}
