// luna - GIGER
$gZWART    : #1c1616;
$gDONKER   : #3a3d44;
$gPRIMARY  : #707176;
$gGRAY     : #a7a8ac;
$gLITE     : #dbf0f1;

// luna - LUNAR
$Lorange   : #fa875a;
$Ldark     : #524e4d;

// thijs - thijs
$wit : #f8f8f8;

html {
  background: $gZWART;
}
body {
  background: $gZWART;
  color: $gLITE;
}
